#content
{
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px 0 50px;
}

.all-left-panel
{
    width: 100%;
}

#view .nano
{
    width: 532px;
}

#view .content
{
    position: initial;
    width: 532px;
}

#view .content .item
{
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    vertical-align: top;
}

#view .content .center
{
    height: 100px;
    padding-top: 37px;
}

#view .content .item tr
{
    width: 90px;
}

#view .content .item td
{
    display: inline-block;
}

#view .content .item .image
{
    width: 90px;
}

#view .content .item .image img
{
    width: 90px;
    height: 90px;
    line-height: initial;
    margin: 0;
    border-radius: 0;
}

.all-right-panel .all-page-upload-progress
{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #1bb76e;
    padding: 12px 0 12px 0;
}